
h1 {
    background-color: aqua;
    color: purple;
    text-align: center;
}



/* Media Queries */


@media (min-width: 480px) and (max-width: 768px){ /* breakpoints */
    h1 {
        background-color: brown;
        color: yellow;
        font-size: 30px;
    }
}



/* 
@media (max-width: 480px){ /* hasta 480px*/

    /* h1{
        color: aqua;
        background-color: purple;
        text-align: left;
        font-size: 20px;
    }

    button{
        display: none;
    } */
/* } */
