body {
    display: flex;
  }
  
  div {
    background: yellow;
    width: 200px;
    height: 200px;
    margin: 0.5rem;
    padding: 0.5rem;
  }
  
  @media screen and (orientation: landscape){
    body{
      flex-direction: row;
    }
  }

  
  @media screen and (orientation: portrait){
    body{
      flex-direction: column;
    }
  }